.ctr-upload-sel {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.ctr-upload-input-header { margin-bottom: 10px; }

.upload {
	width: 80%;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.upload-error-content {
	display: flex;
	flex-direction: column;
	padding: 5px;
	margin-right: 10px;
}

.upload-error {
	padding: 5px 15px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	background-color: var(--red);
	border: 1px solid white;
	margin-bottom: 20px;
}

.upload-error > button {
	flex: none;
	font-size: 1rem;
	width: 45px;
	height: 45px;
	border-radius: 5px;
	border: 1px solid white;
	cursor: pointer;
	color: white;
	background-color: var(--dark-red);
}

.upload-areas { width: 100%; }

.upload-area {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.upload-area:has(+ .upload-area) {
	margin-bottom: 20px;
}

.upload-input {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-width: 50%;
	max-width: 100%;
}

.upload-hint {
	margin-bottom: 10px;
	color: var(--blue);
	cursor: pointer;
	padding: 5px;
	border: 1px solid white;
	background-color: var(--bg);
	border-radius: 5px;
}

.upload-hint:has(+ input:disabled) {
	cursor: not-allowed;
}

.upload-status {
	font-size: 1rem;
	align-self: center;
}

@media screen and (max-width: 1200px) {
	.upload { width: 100%; }
	#ctr-upload-filesel { min-width: 50%; }
}
